/*
* Event Form
*/
.event-form-box{
	width: 698px;
	box-shadow: 0.5px 0.5px 1.25px 1px #000;
	padding-bottom: 5px;
	padding-top: 5px;
}
.event-form-tile{
	width: 698px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-color: rgba(65,65,65,0.5);
	overflow: hidden;
}
.event-form-tile-row{
	width: 693px;
	height: 25px;
	line-height: 25px;
	padding-left: 2.5px;
	font-size: 15px;
}
.event-form-tile-sep{
	width: 349px;
	height: 50px;
	text-align: center;
}
.event-form-tile-sep-row{
	width: 349px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
}
.event-form-text{
	width: 685px;
	height: 20px;
}
.event-form-tile-input{
	width: 249px;
	height: 23px;
}
.event-form-tile-input-text{
	width: 249px;
	height: 20px;
}
.event-form-textarea{
	width: 693px;
	height: 200px;
}
.event-char-submit, .event-char-submit:hover{
	width: 120px;
	height: 25px;
	margin-left: 289px;
}
