/*
* Event Form
*/
.event-form-box{
	width: 698px;
	box-shadow: 0.5px 0.5px 1.25px 1px #000;
	padding-bottom: 5px;
	padding-top: 5px;
}
.event-form-tile{
	width: 698px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-color: rgba(65,65,65,0.5);
	overflow: hidden;
}
.event-form-tile-row{
	width: 693px;
	height: 25px;
	line-height: 25px;
	padding-left: 2.5px;
	font-size: 15px;
}
.event-form-tile-sep{
	width: 349px;
	height: 50px;
	text-align: center;
}
.event-form-tile-sep-row{
	width: 349px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
}
.event-form-text{
	width: 685px;
	height: 20px;
}
.event-form-tile-input{
	width: 249px;
	height: 23px;
}
.event-form-tile-input-text{
	width: 249px;
	height: 20px;
}
.event-form-textarea{
	width: 693px;
	height: 200px;
}
.event-char-submit, .event-char-submit:hover{
	width: 120px;
	height: 25px;
	margin-left: 289px;
}

/*
* Event Content
*/
.event-content-box{
	width: 698px;
	box-shadow: 0.5px 0.5px 1.25px 1px #000;
}

/*
* Event Content Top
*/
.event-content-top{
	width: 698px;
	height: 150px;
}
.event-content-pic{
	background-repeat: no-repeat;
	background-size: 138px 138px;
	background-position: center;
	width: 138px;
	height: 138px;
}
.event-content-title{
	width: 548px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	font-size: 20px;
}
.event-content-descr{
	width: 548px;
	min-height: 85px;
	margin-left: 10px;
	padding-top: 5px;
}
.event-content-descr-row{
	width: 548px;
	min-height: 18px;
	line-height: 18px;
}

/*
* Event Content Center
*/
.event-content-center{
	width: 698px;
	overflow: hidden;
}
.event-content-center-navbar{
	width: 698px;
	height: 40px;
}
.event-content-center-navbar ul li, .event-content-center-navbar ul li:hover{
	list-style: none;
	min-width: 60px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	border-color: rgba(65,65,65,0.5);
	box-shadow: 0.25px 0.25px 1px 0.5px #000;
	cursor: pointer;
}
.event-content-center-navbar ul li:hover{
	background: rgb(88, 111, 117);
	color: rgb(184, 204, 0);
}
.event-content-center-container{
	width: 698px;
	padding-top: 20px;
}
.player-role-sep{
	width: 210px;
	margin-left: 17px;
	margin-bottom: 10px;
}
.player-role-sep-title{
	width: 195px;
	height: 35px;
	padding-left: 15px;
	line-height: 35px;
	font-size: 16px;
	box-shadow: 0.25px 0.25px 0.75px 0.25px #000;
	border-color: rgba(65,65,65,0.75);
	margin-bottom: 5px;
}
.player-role-row{
	background-position: left 5px center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	width: 184px;
	height: 20px;
	line-height: 20px;
	padding-left: 26px;
	font-size: 14px;
	cursor: pointer;
}
.player-class-sep{
	width: 210px;
	margin-left: 17px;
}
.player-class-sep div {
	margin-left: 0px;
}
.signedOut-box{
	width: 664px;
}
.signedOut-title{
	width: 649px;
	height: 35px;
	padding-left: 15px;
	line-height: 35px;
	font-size: 16px;
	box-shadow: 0.25px 0.25px 0.75px 0.25px #000;
	border-color: rgba(65,65,65,0.75);
	margin-bottom: 5px;
}
.signedOut-content{
	width: 664px;
}
.signedOut-row {
	background-position: left 5px center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	width: 195.33px;
	height: 20px;
	line-height: 20px;
	padding-left: 26px;
	font-size: 14px;
	cursor: pointer;
}

/*
* Event Bottom
*/
.event-content-bottom{
	width: 698px;
	height: 50px;
	padding-top: 20px;
}
.event-bottom-row-container{
	width: 598px;
	height: 50px;
}
.event-content-bottom-row{
	width: 598px;
	height: 25px;
	line-height: 25px;
}
.event-content-bottom-row-sep{
	width: 199.33px;
	height: 25px;
	text-align: center;
	font-size: 16px;
}
.event-content-bottom-row-large{
	width: 100px;
	height: 50px;
	line-height: 78px;
	text-align: center;
}
.event-select, .event-note{
	width: 150px;
	height: 23px;
	color: #cfcfcf;
}
.event-note{
	height: 20px;
}
.event-submit, .event-submit:hover{
	width: 100px;
	height: 23px;
}

/*
* User handler
*/
.user-handler{
	position: absolute;
	background: rgba(35,35,35,0.8);
	border: rgba(65,65,65,0.8) solid 1px;
	width: 130px;
	height: 100px;
}
.user-handler-row{
	width: 110px;
	height: 15px;
	padding: 5px 5px 5px 5px;
	line-height: 15px;
	text-align: left;
}